body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

#summary_label {
    font: normal 40px courier !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-top: 150px !important;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Modal Header */
.modal-header {
    background-color: #226191;
    color: white;
    text-align: center;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 10px;
    background-color: #226191;
    color: white;
    text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        bottom: 300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Input boxes for Timesheet entry text inputs */
.timesheetentry-inputs{
    margin-top: 5px !important;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 1px;
    width: 140px;
}

/* Input boxes for Timesheet entry text inputs */
.timesheetentry-labels {
    margin-top: 5px !important;
    margin-bottom: 5px;
    margin-right: 50px;
    margin-left: 5px;
    padding: 1px;
    width: 120px;
}

.timesheet-entry-submit 
{
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 15px;
    width: 220px;
}

.btn.timesheet-entry-add-entry
{
    margin-top:15px;
    margin-bottom: 15px !important;
    margin-left: 15px;
    width: 230px;
}

/*a little bit of reset*/
#services-list, #services-list p, #services-list h3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #services-list > li {
        float: left;
        margin-right: 20px;
        width: 130px;
    }

        #services-list > li > .image {
            display: block;
            float: left;
            margin-right: 10px;
            margin-top: -5px;
        }

            /*
this instructions are to force the dimensions of image and its container <a>
*/
            #services-list > li > .image,
            #services-list > li > .image > img {
                width: 32px;
                height: 32px;
            }


            