
@{
    ViewBag.Title = "Add Candidate";
}

<div class="row">
    <h2>Add Candidate</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Trigger/Open The Modal -->
            <button id="addCandidateBtn" class="btn btn-primary" title="Add a new candidate">Add Entry</button>
        </div>
    </div>
</div>

<div class="row">
    <!-- The Add Entry Modal -->
    <div id="addCandidateModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>Add Candidate Entry</h3>
            </div>
            <div class="modal-body">
                <label for="candidateName" class="timesheetentry-labels">Candidate Name</label>
                <input type="text" id="candidateName" name="candidateName" class="timesheetentry-inputs"><br>
                <label for="clientName" class="timesheetentry-labels">Client Name</label>
                <input type="text" id="clientName" name="clientName" class="timesheetentry-inputs"><br>
                
                <input type="button" id="submitBtn" value="Submit" class="form-control btn-info timesheet-entry-submit">

                <div id="successMsg" class="alert alert-success">
                    <span class="glyphicon glyphicon-ok"></span> <strong>Success!!</strong>
                </div>
                <div id="errorMsg" class="alert alert-danger hidden">
                    <strong>Failure!</strong>
                </div>
            </div>
            <div class="modal-footer">
                <h5>&#169 HSC 2018</h5>
            </div>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('addCandidateModal');

    // Get the button that opens the modal
    var btn = document.getElementById("addCandidateBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var submitBtn = document.getElementById('submitBtn');

    var successMsg = document.getElementById('successMsg');

    document.getElementById('successMsg').style.visibility = "hidden";
    document.getElementById('successMsg').classList.add('hidden');

    var failBtn = document.getElementById('failBtn');

    submitBtn.onclick = function () {
        var timesheetEntry = {
            CandidateName: $('#candidateName').val(),
            ClientName: $('#clientName').val(),
           
        };

        $.ajax({
            type: "POST",
            url: "http://localhost:50325/Candidate/Create",
            dataType: "json",
            data: timesheetEntry,
            success: function (msg) {
                document.getElementById('successMsg').classList.remove('hidden');
                document.getElementById('successMsg').style.visibility = "visible";

                $("#successMsg").fadeTo(2000, 500).slideUp(500, function () {
                    $("#successMsgt").slideUp(500);
                });
            },
            fail: function (msg) {
                $('#errorMsg').addClass('show');
            }
        });
    };


</script>