@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <br />
    <img id="header_image" src="~/Content/Images/clock.jpg" alt="Sample Photo" height="180px" />
    <h1>Contractor Time Checker</h1>
    <p class="lead">Generate timesheets for contractors</p>

    <user-app>Loading…</user-app>

</div>

<div class="col-sm-12 text-left">
   
    @*<div class="col-md-4">
            <h3>View all Info</h3>
            <p>
                @Html.ActionLink("View all info", "Index", "TimeSheetInfo")
            </p>
        </div>
        <div class="col-md-4">
            <h3>Generate timesheet summary information</h3>
            <p>
                @Html.ActionLink("Generate Timesheet Summary", "Index", "TimeSheetSummary")
            </p>
        </div>*@
    <div class="col-md-4">
        <h3>Enter contractor timesheet information</h3>
        <p>
            @Html.ActionLink("Enter new Timesheet Entry", "Create", "TimeSheetEntry")
        </p>
    </div>
</div>
@*<div class="col-sm-2 sidenav">
	<div class="well">
		<p>Upcoming Events:</p>
		<img src="paris.jpg" alt="Paris" width="400" height="300">
		<p><strong>Paris</strong></p>
		<p>Fri. 27 November 2015</p>
		<button class="btn btn-primary">Info</button>
	</div>
	<div class="well">
		<p>ADS</p>
	</div>
</div>*@